@import '../../styled/_variables';
@import '../../styled/_mixins';
.contacts {
    &__description {
        padding: 30px 0px;
        margin: 0 auto 30px;
        text-align: center;
        h1 {
            font-size: 40px;
            color: $black-color;
        }
        h3 {
            color: $gray-color;
        }
    }
    
    &__registration {
        padding: 50px 0px;
        padding-bottom: 80px;
        @extend %flex-center;
        flex-wrap: wrap;
        color: $black-color;
        &__address {
            max-width: 400px;
            box-shadow: 0 0 15px -5px #ced4da;
            padding: 20px;
            &__element {
                margin-top: 14px;
                h3 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 8px;
                }
            }
        }
        &__form {
            box-shadow: $box-shadow;
            padding: 60px 30px;
            max-width: 500px;
            h2 {
                margin-bottom: 20px;
            }
            form {
                display: flex;
                flex-direction: column;
                .input {
                    padding: 12px 14px;
                    font-size: 14px;
                    margin-bottom: 12px;
                    border-radius: $border-r-medium;
                    border: $button-border-gray;
                }
            } 
        }
        &__address, &__form {
            transition: .5s box-shadow;
            &:hover {
                box-shadow: 0 0 20px 5px #ced4da;;
            }
        }
        @include sm {
            padding-top: 0px;
        }
    }
}
.blog {
    padding-top: 60px;
    padding-bottom: 30px;
    @include sm {
        margin-top: 20px;
    }
    h1 {
        font-size: 40px;
        color: $black-color;
        text-align: center;
    }
    .wrapper {
        @extend %flex-between;
        flex-wrap: wrap;
        align-items: stretch;
        transition: .6s all;
        margin-top: 70px;
        & > a {
            box-shadow: $box-shadow;
            flex: 30%;
            max-width: 350px;
            width: 100%;
            padding: 15px;
            margin-bottom: 30px;
            transition: .4s all;
            @include md {
                max-width: 300px;
            }
            img {
                width: 100%;
                object-fit: contain;
                height: 200px;
            }
            p {
                color: $gray-color;
                margin-top: 10px;
            }
            &:hover {
                transform: translateY(-20px);
                box-shadow: 0 5px 10px 15px #ced4da;
            }
            @include sm {
                flex: 40%;
            }
            @include xs {
                flex: 100%;
            }
        }
        @include sm {
            margin-top: 40px;
            justify-content: space-around;
        }
        @include xs {
            justify-content: center;
        }
    }
    .show_more {
        background: transparent;
        border: none;
        font-weight: 800;
        position: relative;
        transition: .2s all;
        animation: trim .9s linear infinite;       
        &:hover {
            transition: .2s all;
            animation: none;
        }
    }
    @keyframes trim {
        0%{transform: rotate(5deg)}
        25%{transform: rotate(-5deg)}
        50%{transform: rotate(0deg)}
        75%{transform: rotate(0deg)}
        100%{transform: rotate(5deg)}
    }
}
.detailed {
    padding: 60px 0px;
    @include sm {
        padding: 20px 0px 40px;
    }
   
    
.arrow {
    position: relative;
    width: 150px;
    left: 20px;
    transition: all 0.2s linear 0s;
    background: $blue-color;
    color: $white-color;
    border-radius: $border-r-medium;
    padding: 12px 30px;
   
        &:before {
            content: "\f053";
            font-family: 'FontAwesome';
            overflow: hidden;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 30px;
            background-color: rgba($white-color,0.3);
            border-radius: 50% 25% 25% 50%;
            transform: scale(0,.8);
            transform-origin: right center;
            transition: all 0.2s linear 0s;
        }
        &:hover {
            text-indent: -20px;
            &:before {
                transform: scale(1,1);
                text-indent: 0;
            }
        }
    }
    
    &__company {
        box-shadow: $box-shadow;
        padding: 40px;
        margin-bottom: 20px;
        .image {
            max-width: 300px;
            width: 100%;
            margin: 0 auto 20px;
            display: block;
            @include sm {
                max-width: 200px;
            }
        }
        h2 {
            text-transform: uppercase;
            color: $black-color;
        }
        p {
            color: $gray-color;
            line-height: 1.5rem;
            margin: 15px 0px;
        }
        @include sm {
            margin-top: 20px;
            padding: 10px 20px 20px;
        }
    }
}

.about {
    padding: 60px 0px;
    &_us {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @include sm {
           overflow: hidden;
        }
        &__description {
            max-width: 600px;
            @include md {
                max-width: 500px;
            }
            @include sm {
                max-width: 400px;
            }
            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 14px;
                color: $gray-color;
                line-height: 1.5rem;
            }
        }
        .animate__block {
            text-align: center;
            strong {
                color: $gray-color;
                font-weight: 800;
                opacity: .7;
            }
            &__round {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: $blue-color;
                font-weight: 600;
                @extend %flex-center;
                color: $white-color;
                text-align: center;
                padding: 20px;
                margin: 60px 0px;
                position: relative;
                animation: rotateShadow 12s linear infinite;
                transition: .4s animation;
                
                .arrow {
                    height: 130%;
                    width: 130%;
                    border: 2px solid $blue-color;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    border-radius: 100%;
                    animation: rotateArrow 15s linear infinite;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 15px solid $blue-color;
                        top: 82%;
                        right: 83.3%;
                        transform: rotate(125deg);
                    }
            
                }
            }
        }
        @keyframes rotateArrow {
            0% {transform: rotate(-0deg);}
            100% { transform: rotate(-360deg); }
        }
        @keyframes rotateShadow {
            0% {box-shadow: -15px -5px 0px 5px #fff; }
            25% {box-shadow: 15px 10px 0px 0px #fff;}
            75% {box-shadow: 5px -10px 0px 15px #fff;}
            100% {box-shadow: -15px -5px 0px 5px #fff; }
        }
    }
    .interwiew {
        margin-top: 40px;
        &__header {
            background: $blue-color;
            color: $white-color;
            padding: 20px 15px;
            width: fit-content;
        }
        &__wrapper {
            @extend %flex-between;
            flex-wrap: wrap;
            & > div {
                width: 50%;
                padding-top: 60px;
                @include xs {
                    width: 100%;
                }
            }
            &__description {
                background: $blue-color;
                color: $white-color;
                padding: 60px 20px;
                & > p {
                    margin-top: 10px;
                    font-style: italic;
                }
            }
        }
    }
}
.polygon {
    width: 200px;
    height: 200px;
    background: url(https://catholic-daily-reflections.com/wp-content/uploads/2018/03/luke_banks_2-1.jpg);
    background-position: center;
    background-size: cover;
    transition: .7s clip-path;
    clip-path: polygon(0 24%, 0 0, 35% 0%, 65% 0%, 100% 0, 100% 25%, 100% 50%, 100% 73%, 100% 100%, 0 100%, 0 71%, 0 50%);
    &:hover {
        clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    }
}

.polygon1 {
    width: 200px;
    height: 200px;
    background: url(https://catholic-daily-reflections.com/wp-content/uploads/2018/03/luke_banks_2-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .7s clip-path;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    &:hover {
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    }
}