@import '../../styled/_variables';
@import '../../styled/_mixins';
header {
    background: #000000;
    color: $white-color;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.nav {
  @extend %flex-between;
}
.logo {
    flex: 20%;

    img {
        max-width: 100px;
        object-fit: contain;
    }
}

.navigation {
    display: flex;
    ul {
        display: flex;
        a {
            padding: 0 26px;
            color: $white-color;
            font-weight: 600;
            transition: .4s color;
            &:hover {
                color: $blue-color;
            }
            &.active {
                color: $blue-color;
            }
        }
        
    }
    @include md {
        display: none;
      }
}
.navigate {
    display: flex;
    flex: 20%;
    justify-content: flex-end;
    &__block {
        display: flex;
        align-items: center;
    }
    &__img {
        max-width: 30px;
        border-radius: 50%;
    }
    strong {
        padding: 0px 8px;
    }
}
.burger {
    position: absolute;
    background: #000;
    width: 100%;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
   
}
